html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.error_display {
    padding: 13% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.error_display img {
    max-width: 100%;
    border-radius: 20px;
    height: auto;
    object-fit: cover;
    overflow: auto;
}