
.nav-bar, .header-bar {
    height: 50px;
    width: 100%;
    display: flex;
}

.nav-bar .active {
    background-color: #f26600;
}

.nav-bar a {
    flex-grow: 1;
}

.nav-button, .header-bar {
    border: 0;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 150%;
}

.nav-button {
    background-color: #1284bf;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}

.nav-button:hover {
    background-color: #f26600;
}

.nav-button span {
    font-size: 150%;
}

.header-bar {
    background-color: #0dc6f1;
    align-items: center;
}

.header-bar .title {
    padding-left: 3%;
    flex-basis: 0;
    flex-grow: 4;
}

.header-bar .title .title-highlight {
    color: #dbd022;
}

.header-bar .username {
    float: right;
    padding-right: 3%;
    flex-basis: 0;
    flex-grow: 4;
}

.header-bar .username a {
    color: #FFFFFF;
    font-size: 50%;
    text-align: right;
    text-decoration: underline #ffffff;
    width: 100%;
    margin-top: 5%;
}

.header-bar .username a:hover {
    color: #605e5f;
    text-decoration-color: #605e5f;
}

.header-bar .power-button {
    background-color: #f26600;
    float: right;
    flex-basis: 0;
    flex-grow: 1;
}

.header-bar .power-button a {
    display: flex;
    max-height: 100%;
}

.header-bar .power-button img {
    padding: 0 15% 0 15%;
    margin: 5%;
    object-fit: contain;
    overflow: auto;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky-nav-bar {
    position: fixed;
    top: 0;
}

.sticky-nav-bar .nav-bar {
    padding-top: 108px;
}