.profile.home {
    background-color: #00374c;
    padding: 14px;
    flex-direction: row-reverse;
}

.center {
    margin: auto;
    width: 50%;
}

.profile.edit-button {
    float: right;
    width: 7%;
    height: auto;
}

.profile.edit-button img {
    width: 100%;
    height: auto;
}

.profile.name {
    font-family: "Linotte", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 3.5vw;
    text-align: center;
    margin-top: 15px;
}

.profile.picture {
    margin-top: 10px;
    width: 30%;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    border: #ffff00 solid 5px;
}

.profile.picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
    display: block;
}

.profile.details {
    margin: 0 7% 15% 7%;
}

.profile.details h1 {
    font-size: 250%;
}

.icon-container .icon {
    width: 100%;
    height: auto;
}

.icon-container {
    width: 4%;
    height: auto;
}

table {
    border-spacing: 10px 1em;
    font-family: Arial, Helvetica, sans-serif;
}