html {
    font-family: Arial, Helvetica, sans-serif;
}

#user-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-container {
    width: 100%;
    height: 145px;
    border: solid 2px;
    background-color: white;
    overflow: hidden;

}

.form-label {
    flex-basis: 0;
    flex-grow: 26;
}

.form-field {
    flex-basis: 0;
    /* align-items: left; */
    /* width: 56%; */
    height: auto;
    flex-grow: 70;
    display: flex;
}

.form-space {
    flex-basis: 0;
    flex-grow: 4;
    /* width: 4%; */
}

.special-field {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.field {
    width: 100%;
    height: auto;
    margin-bottom: 7px;
    font-size: 120%
}

.field.image-field {
    margin-bottom: 30px;
}

.content {
    margin: 0 3%;
}

.input-field {
    padding: 3px 5px;
    width: 100%;
}

textarea {
    width: 100%;
    /*height: 80px;*/
    padding: 2%;
    min-height: 7em;
    max-height: 100%;
    overflow-y: scroll;
    resize: none;

    color: #000000;
    font-family: "Arial", sans-serif;
    text-transform: capitalize;

    border: inherit solid 1px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#file-upload-interface {
    margin-top: 10px;
    height: 18%;
}

#file-upload-label-container {
    display: flex;
    flex-basis: 0;
    flex-grow: 78;
}

#file-upload-button-container {
    display: flex;
    flex-basis: 0;
    flex-grow: 22;
}

#file-upload-label {
    width: 100%;
    margin-right: 4%;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    height: auto;
}

#file-upload-button {
    background-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-color: #b3b3b3;
    border-radius: 7px / 3px;
}

.change-button-container {
    margin-top: 40px;
    font-size: 1.5em;
}

.change-button-container button {
    font-size: inherit;
    width: 120%;
}

#back-button-container {
    height: 33px;
    width: 22%;
    display: flex;
    float: left;
}

#save-button-container {
    height: 33px;
    width: 22%;
    display: flex;
    float: right;
}

#back-button {
    background-color: white;
    color: #d9534f;
    border-width: 1px;
    border-style: solid;
    border-color: #d9534f;
    border-radius: 5px;
}

#back-button:hover {
    background-color: #d9534f;
    border: 0;
    color: white;
}

#save-button {
    background-color: #0094cc;
    color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #0094cc;
    border-radius: 5px;
}

#save-button:hover {
    background-color: #f26600;
    border: 0;
    color: #FFFFFF;
}