
.page-title {
    padding: 0 5% 0 5%;
    display: flex;
}

.page-title h1 {
    margin-top: 3%;
    flex-grow: 6;
}

#search-result-found {
    flex-grow: 1;
    color: #FFFFFF;
    align-self: center;
    font-family: "Arial", sans-serif;
    font-size: 120%;
}

#search-result-found u {
    text-decoration: underline #ffffff;
}

.container .search-bar {
    margin: 0 5% 0 5%;
    max-width: 90%;
}

.search-bar {
    border-radius: 3px;
}

.search-bar .field {
    border: solid 1px #E4E4E4;
    background-color: #ffffff;
}

.search-bar .field input {
    border: 0;
    margin: 1% 0 1% 1%;
    width: 98%;
}

.search-bar .field input:focus {
    outline: none;
}

.search-bar button, .search-result button {
    border: 0;
    float: right;
    border-radius: 4px;
    background-color: #0dc6f1;
    color: #FFFFFF;
    padding: 1% 5% 1% 5%;
    margin-top: 3%;
    font-size: 110%;
}

.search-bar button:hover, .search-result button:hover {
    background-color: #f26600;
}

.search-bar .button {
    margin: 3% 5% 0 0;
}

.search-result {
    margin: 0 0 0 3%;
    max-width: 95%;
    font-family: "Arial", sans-serif;
    flex-basis: 0;
}

.search-result.container {
    display: flex;
    flex-flow: column;
    background-color: RGBA(255, 255, 255, 0.3);
    max-height: 200px;
    padding-top: 3%;
}

.search-result .thumbnail {
    flex-grow: 2.5;
    margin: 1% 3% 0 2%;
    overflow: hidden;
}

.search-result .thumbnail img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    overflow: auto;
    border: 2px #000000;
}

.search-result .description {
    color: #000000;
    flex-grow: 8;
    margin: 0;
    text-align: justify;
    padding: 1% 2% 1% 0;
}

.search-result .title {
    color: #f26600;
    font-size: 180%;
    font-weight: bold;
    text-align: justify;
}

.search-result .author {
    padding: 1% 0 1% 0;
}

.search-result .description .author {
    font-weight: bold;
}

.search-result .button {
    margin: 0 3% 3% 0;
}
