
.page-title {
    width: 90%;
    margin: 0 5% 0 5%;
}

#page-title-search {
    margin-top: 3%;
}

.container .search-bar {
    margin: 0 5% 0 5%;
    max-width: 90%;
}

.search-bar {
    box-shadow: none;
    border-radius: 3px;
}

.search-bar .field {
    border: solid 1px #E4E4E4;
    background-color: #ffffff;

}

.search-bar .field input {
    border: 0;
    margin: 1% 0 1% 1%;
    width: 98%;
}

.search-bar .field input:focus {
    outline: none;
}

.search-bar .button {
    border: 0;
    float: right;

    background-color: #0dc6f1;
    color: #FFFFFF;
    padding: 1% 5% 1% 5%;
    margin-top: 3%;
    font-size: 110%;
}

.search-bar .button:hover {
    background-color: #ed642b;
}