@font-face {
    font-family: "Linotte";
    src: url("fonts/Linotte/Linotte Regular.otf");
}

html {
    /*background: url("../Src/background/64633879_p0.jpg") fixed;*/
    background-size: 1640px 922px;
    padding-top: 100px;
    overflow-y: scroll;

}

::-webkit-scrollbar {
    width: 0; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

@media screen and (max-width: 600px) {
    html {
        min-width: 400px;
        width: 80%;
        padding: 0 12%;
    }

    .resp-element {
        width: 82%;
    }
}

@media screen and (min-width: 600px) and (max-width: 750px) {
    html {
        width: 64%;
        padding: 0 18%;
    }

    .resp-element {
        width: 62%;
    }
}

@media screen and (min-width: 750px) and (max-width: 900px) {
    html {
        width: 54%;
        padding: 0 23%;
    }

    .resp-element {
        width: 52%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1050px) {
    html {
        width: 46%;
        padding: 0 27%;
    }

    .resp-element {
        width: 44%;
    }
}

@media screen and (min-width: 1050px) and (max-width: 1200px) {
    html {
        width: 40%;
        padding: 0 30%;
    }

    .resp-element {
        width: 38.8%;
    }
}

@media screen and (min-width: 1200px) {
    html {
        width: 40%;
        padding: 0 30%;
    }

    .resp-element {
        width: 38.8%;
    }
}

h1 {
    font-family: "Linotte", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f26600;
    font-size: 335%;
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-flow: column;
}

.flex-row {
    flex-flow: row;
}

.resp-element {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

button:focus {
    outline: none;
}